@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;  
    margin: 0 auto;
    display: flex;
}

.container {
    padding: 80px 0;
}

/* NAV BAR */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(36, 62, 99);
    padding: 8px;
    margin: 0 18px; 
}

.nav__link--primary {
    background-color: rgba(100,21,255);
    color: #fff;
    padding: 12px 32px;
    font-size: 16px;
    border-radius: 24px;
    border: none;
    
}

.logo {
    width: 180px;    
}

.nav__links {
    display: flex;
}

.nav__link {
    list-style-type: none;
}

/* TWO COLUMN HEADING */

.text--purple {
    color: rgba(100,21,255);
}

.two-column__container {
    padding: 96px 32px;;
}

.column-left {
    width: 40%;
    padding: 16px;
}

.column-right {
    width: 60%;    
}

.office__pic {
    width: 100%;
}

.column-left__header {
    font-size: 36px;
}

.column-left__para {
    font-size: 16px;
    line-height: 1.5;
    margin: 32px 0;
}

.customer__logos {
    width: 100%;
    margin: 80px 0 0;
}

/* FEATURES */

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title-small {
    font-size: 24px;
    text-align: center;
    margin-bottom: 18px;
}

.section__title-large {
    font-size: 40px;
}

.features__para {
    margin-top: 16px;
    max-width: 550px;
    text-align: center;
}

.services {
    display: flex;
    width: 100%; 
    margin: 0 auto;
    
}

.service {
    width: 100%;
    align-items: center;
}